.project {
  position: relative;
  .progressContainer {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;

    h1 {
      color: orange !important;
      font-size: 36px !important;
    }

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }
}
